*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
 padding: 0;
 margin: 0;
 width: 100%;
 background-image: url(img/vetorOndas.svg);
 background-size:  100%;
 background-repeat: no-repeat;
 height: 180vh;
 align-items: center;
 position: relative;
}

.flex{
    display: flex;
}
.topo{
    position: absolute;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: auto;
}
.text h1{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 63px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text p{
    padding: 5%;
    margin-top: 5%;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}

.text button{
    background-color: #F20574;
    color: #FFF;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: translateX(-50%);
    margin-top: 10%;
    margin-left: 50%;
    padding: 20px;
    z-index: 1;
    border-radius: 30px;
}

.text{
    padding: 5%;
}
.video{
    justify-content: center;
    margin: 5%;
}
.person{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo1 p{
    margin-top: 5%;
    font-size: 20px;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.personagens{
    justify-content: center;
    margin: 15%;
    background-color: darkgray;
    border-radius: 20px;
}
.personagens img{
    width: 80%;
}

.bene{
    background: #F2B705;
    height: 50vh;

}

#icons{
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.card-bene{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card-bene p {
    padding-right: 25px;
}


.card-bene img{
    width: 60%;
    padding: 10px;
    border-radius: 70%;
    align-items: center;
    background-color: #ffffff;

}

.math {
    width: 200px;
    height: 200px;
}

.xadrez {
    width: 200px;
    height: 200px;
}

.game {
    width: 200px;
    height: 200px;
}
.objetivo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.text2{
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text2 h1{
    color: #034C8C;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Roboto;
font-size: 63px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.text2 p{
    margin: 5%;
    color: #000;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: justify;
}

.logo2{
    justify-content: center;
    align-items: center;
}
.logo2 img{
    width: 30%;
}

.manu{
    background-color: #F20574;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.manu p{
    margin: 5%;
    color: #ffffff;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: justify;
}

.manu button{
    background-color: #034C8C;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1%;
    border-radius: 30px;
    margin-bottom: 5%;
}



