.h1-principal{
    width: 707.052px;
    height: 167.176px;
    flex-shrink: 0;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 63px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 180px;
    left: 30%;
    transform: translateX(-47%);
    padding: 1px;
    z-index: 1;
}

h2{
    width: 650.758px;
    height: 126.823px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 400px;
    left: 30%;
    transform: translateX(-46%);
    padding: 10px;
    z-index: 1;
}
.vetorOndas{
    background-size: 100% auto;
    height: auto; /* Mantenha a proporção */
    position: fixed; /* Mantenha o vetor fixo na tela */
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    flex-shrink: 0;
    background-size: 100% auto; /* Cobrir a largura e ajustar a altura automaticamente */
    flex-direction:column;
    display: block;
    max-width: 100%; /* Ajuste para o tamanho máximo desejado */
}

.btn-jogue-agora{
    padding: 10px 20px;
    background-color: #F20574;
    color: #FFF;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: translateX(-50%);
    position: absolute;
    top: 550px;
    left: 30%;
    padding: 10px;
    z-index: 1;
    border-radius: 30px;
        }

#secao2{
    position: relative ;
}

/* Estilo para a imagem com a classe .logoHorizontal */
.logoHorizontal {
    display: block;
    max-width: 100%; /* Ajuste para o tamanho máximo desejado */
    height: auto; /* Mantenha a proporção */
    position: absolute; /* Posição absoluta */
    left: 50%; /* Centralize horizontalmente */
    transform: translateX(-50%); /* Centralize horizontalmente */
    z-index: 1; /* Garanta que a imagem esteja à frente de outros elementos, se necessário */
}

h3 {
    width: 1305.916px;
    height: 238.873px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/* Estilo para o elemento pai (container) */
.container {
    
}

/* Estilo para as divs dos personagens */
.personagem {

}

/* Estilo para as imagens dos personagens */
.personagem img {
    
}
