*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
 padding: 0;
 margin: 0;
 width: 100%;
 background-image: url(img/vetorOndas.svg);
 background-size:  100%;
 background-repeat: no-repeat;
 height: 150vh;
 align-items: center;
 position: relative;
}

.flex{
    display: flex;
}
.topo{
    position: absolute;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: auto;
}
.text h1{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 63px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text p{
    padding: 5%;
    margin-top: 5%;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5%;
}

.text a{
    background-color: #F20574;
    color: #FFF;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: translateX(-50%);
    margin-top: 20%;
    margin-left: 50%;
    padding: 20px;
    z-index: 1;
    border-radius: 30px;
}

.text{
    padding: 5%;
}
.video{
    justify-content: center;
    margin: 5%;
}

.video iframe{
    width: 40vw;
    height: 50vh;
}
.person{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    justify-content: space-around;
}

.logo1 p{
    margin-top: 5%;
    font-size: 25px;
}
.personagens{
    align-items: center;
}
.personagens img{
    width: 100%;
    border-radius: 20px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

.bene{
    background: #F2B705;
    height: 60vh;
    justify-content: space-around;
    align-items: center;
}

.card-bene{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.img-bene{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    margin-bottom: 10%;
    border-radius: 50%;
    width: 200px;
}

.img-bene img{
    width: 60%;
    align-items: center;

}
.xadrez{
    width: 50% !important;
}
.card-bene p {
    font-size: 20px;
    text-align: center;
    width: 80%;    
}

.math {
    width: 200px;
    height: 200px;
}

.xadrez {
    width: 200px;
    height: 200px;
}

.game {
    width: 200px;
    height: 200px;
}
.objetivo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.text2{
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text2 h1{
    color: #034C8C;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Roboto;
font-size: 63px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.text2 p{
    margin: 5%;
    color: #000;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: justify;
}

.logo2{
    justify-content: center;
    align-items: center;
}
.logo2 img{
    width: 30%;
}

.manu{
    background-color: #F20574;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.manu p{
    margin: 5%;
    color: #ffffff;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: justify;
margin-bottom: 2%;
}
.tela{
    justify-content: center;
    align-items: center;
}
.tela img{
    width: 80%;
    border-radius: 20px;
}
.manu a{
    background-color: #034C8C;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1%;
    border-radius: 30px;
    margin-bottom: 5%;
    text-decoration: none;
    color: #FFF;
}
  